APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
APPWRITE_PROJECT_ID=
APPWRITE_API_KEY=
APPWRITE_DATABASE_ID=orp_db
APP_BASE_URL=https://press.openrockets.com
CONSENT_TOKEN_SECRET=
GUARDIAN_EMAIL_SECRET=
APPWRITE_BUCKET_PUB_FILES=pub_files
APPWRITE_BUCKET_PUB_COVERS=pub_covers
APPWRITE_BUCKET_CASE_ATTACHMENTS=case_attachments
PLAUSIBLE_DOMAIN=press.openrockets.com
PLAUSIBLE_API_KEY=
VITE_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
VITE_APPWRITE_PROJECT_ID=
VITE_APPWRITE_DATABASE_ID=orp_db
VITE_APPWRITE_BUCKET_PUB_FILES=pub_files
VITE_APPWRITE_BUCKET_PUB_COVERS=pub_covers
VITE_FUNCTION_REGISTER_ID=register
VITE_FUNCTION_CONFIRM_CONSENT_ID=confirm-consent
VITE_FUNCTION_GET_HOME_FEED_ID=get-home-feed
VITE_FUNCTION_SUBMIT_PUBLICATION_ID=submit-publication
VITE_FUNCTION_REVIEW_PUBLICATION_ID=review-publication
VITE_FUNCTION_OPEN_CASE_ID=open-case
VITE_FUNCTION_REPLY_CASE_ID=reply-case
VITE_FUNCTION_RESOLVE_CASE_ID=resolve-case
VITE_FUNCTION_DSAR_HANDLER_ID=dsar-handler
VITE_FUNCTION_SERVE_PDF_ID=serve-pdf
